body{
  font-family: Arial;
}
p{
  font-size: 13px;
  line-height: 18px;
}
p.alert{
  background: #ccc;
  padding: 10px;
}
p.danger{
  background: #a00;
  color: #fff;
}
h2{
  color: #3b6e22;
}
h2 span{
  color: #a00;
}
div.container{
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}
.center_aligned{
  text-align: center;
}
.form_div{
  padding-bottom: 15px;
  margin-bottom: 20px;
}
span.ui-helper-hidden-accessible{
  display: none;
}
h3{
  border-bottom: 1px solid #ccc;
}
h3.title{
  overflow: hidden;
  width: 100%;
}
h3.title span{
  font-size: 13px;
  float: left;
}
h3.title span.name{
  font-size: 15px;
  margin-right: 10px;
  float: left;
}

h3.title a{
  float: right;
}
.form-group{
  overflow: hidden;
  width: 100%;
  text-align: center;
}
input[type=search], input[type=search]:focus{
  width: 90%;
  height: 38px;
  font-size: 13px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
a#upload,a.common{
  width: 80px;
  background: #578843;
  padding: 10px;
  display: block;
  width: 100px;
  margin: 10px 0;
  border-radius: 4px;
  -moz-border-radius: 3px;
  color: #fff;
  font-size: 13px;
  border: 1px solid #3b6e22;
  text-decoration: none;
}
.product_desc ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.product_desc li.odd{
  background: #777474;
}
.product_desc li.odd p{
  color: #fff;
}

.product_desc li{
  width: 100%;
  overflow: hidden;
}
.product_desc li p{
  float: left;
  padding: 5px;
  width: 40%;
}
.product_desc li a{
  color: #fff;
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}
ul.ui-autocomplete{
  list-style-type: none;
  padding: 0;
  width: 50%;
  margin: 0;
}
ul.ui-autocomplete li a{
  display: block;
  padding: 10px;
  background: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #000;
}
ul.ui-autocomplete li .ui-state-focus{
  background: #000;
  color: #fff;
}
